.gtr-wrapper {
    width: 100%;
    height: 100%;

    overflow: visible;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gtr-container {
    width: max(60%, 350px);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gtr-display-container {
    width: 100%;
    height: 50%;

    position: relative;
}

.gtr-display {
    width: 15em;
    height: 15em;

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    border-radius: 30px;
}

.gtr-ui-container {
    width: 100%;
    height: 50%;
}

.gtr-ui-buttons {
    width: 100%;
    height: auto;

    margin: 10px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gtr-ui-buttons > button {
    width: auto;
    height: auto;

    margin: 0px 10px;
    padding: 14px;

    outline: transparent;
    border: none;
    border-radius: 69420px;
    background-color: var(--lavender-pastel-4);

    font: inherit;
    font-size: var(--h4-font-size);
    font-family: var(--text-font);
}

.gtr-ui-input-container {
    width: 100%;
    height: auto;

    margin: 10px 0px;

    display: inline-grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 1em;
}

.gtr-ui-input {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gtr-ui-input > input {
    width: 7em;
    height: 7em;

    outline: transparent;
    border: none;
    border-radius: 20px;
    background-color: #eeeeee;

    text-align: center;

    transition: 0.4s ease;
}

@media screen and (max-width: 600px) {
    .gtr-ui-input > input {
        width: 5em;
        height: 5em;
    }
}
