.gtr-wrapper {
    width: 100%;
    height: 100%;

    overflow: visible;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gtr-container {
    width: max(60%, 350px);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gtr-display-container {
    width: 100%;
    height: 45%;

    position: relative;
}

.gtr-display {
    width: 11.5em;
    height: 11.5em;

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    font-size: var(--h2-font-size);

    border-radius: 30px;

    transition: 0.4s ease;
}

.gtr-subdisplay {
    width: 2.5em;
    height: 2.5em;

    position: absolute;
    margin: auto;
    top: 10.5em;
    left: 10.5em;
    bottom: 0;
    right: 0;

    border-radius: 18px;
}

.gtr-ui-container {
    width: min(100%, 500px);
    height: 50%;

    flex-grow: 1;
}

.gtr-ui-buttons {
    width: 100%;
    height: auto;

    margin: 10px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gtr-ui-buttons-vertical {
    flex-direction: column;
}

.gtr-ui-buttons > button {
    width: auto;
    height: auto;

    margin: 0px 5px;
    padding: 14px;

    outline: transparent;
    border: none;
    border-radius: 69420px;
    background-color: var(--lavender-pastel-1);

    font: inherit;
    color: white;
    font-size: var(--h4-font-size);
    font-family: var(--text-font);

    transition: 0.4s ease;

    cursor: pointer;

    user-select: none;
}

.gtr-ui-buttons-vertical > button {
    margin: 10px 10px;
}

.gtr-ui-buttons > button:hover {
    background-color: var(--lavender-pastel-2);
}

.gtr-ui-input-container {
    width: 100%;
    height: auto;

    margin: 10px 0;

    display: inline-grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 1em;
}

.gtr-ui-input {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gtr-ui-input > input {
    width: 3.9em;
    height: 3.9em;

    outline: transparent;
    border: none;
    border-radius: 20px;
    background-color: #eeeeee;

    text-align: center;

    transition: 0.4s ease;

    font: inherit;
    font-family: var(--text-font);
    font-weight: bold;
    font-size: var(--h1-font-size);
}

@media screen and (max-width: 600px) {
    .gtr-ui-input-container {
        gap: 0.2em;
    }

    .gtr-display {
        font-size: var(--h4-font-size);
    }

    .gtr-ui-buttons {
        font-size: var(--h5-font-size);
    }

    .gtr-ui-buttons > button {
        font-size: var(--h5-font-size);
        padding: 10px;
    }
}
